
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Select2
@import "node_modules/select2/dist/css/select2.min";

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  border-right: none !important;
}

.columns-count-3 {
  column-count: 3;
}

.columns-count-3 label {
  font-weight: normal !important;
}

.columns-count-3.model-view .col-sm-5 {
  font-weight: bold;
}

.columns-count-3.applicants .col-sm-5,
.columns-count-3.applicants .col-sm-7 {
  padding-top: 5px;
  padding-bottom: 5px;
}

iframe.cv_viewer {
  border: none;
}

#applicant-skill-sidebar li.active {
  background-color: #f7f7f7;
  font-weight: bold;
}

.applicant-note-list {
  height: 320px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
}

#search-table .status-col {
  width: 200px;
}

#search-table .date-col {
  width: 100px;
}

.applicant-management {
  h1.applicant-group-name {
    font-size: 30px;
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 15px 0px !important;
  }

  .table-area {
    overflow-x: scroll !important;
  }
}