
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Select2
@import "node_modules/select2/dist/css/select2.min";

// AdminLTE overrides
@import "adminlte";

// Fullcalendar
@fullcalendar/core/main.css;
@fullcalendar/daygrid/main.css;
@fullcalendar/timegrid/main.css;
@fullcalendar/list/main.css;

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  border-right: none !important;
}

.columns-count-3 {
  column-count: 3;
}

.columns-count-3 label {
  font-weight: normal !important;
}

.columns-count-3.model-view .col-sm-5 {
  font-weight: bold;
}

.columns-count-3.applicants .col-sm-5,
.columns-count-3.applicants .col-sm-7 {
  padding-top: 5px;
  padding-bottom: 5px;
}

iframe.cv_viewer {
  border: none;
}

ul.columns-3 {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

#applicant-skill-sidebar li.active {
  background-color: #f7f7f7;
  font-weight: bold;
}

.applicant-note-list {
  height: 320px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
}

#search-table .status-col {
  width: 200px;
}

#search-table .date-col {
  width: 100px;
}

.applicant-management,
.sales-management,
.search-management,
.work-management,
.callback-management {
  h1.applicant-group-name {
    font-size: 30px;
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 15px 0px !important;
  }

  .extra-col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }

  .col-1-5 {
    @extend .extra-col;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }

  .col-8-5 {
    @extend .extra-col;
    flex: 0 0 70.833333305%;
    max-width: 70.833333305%;
  }

  .table-area {
    overflow-x: hidden !important;
    margin-bottom: 50px;

    h2 {
      .applicant-counter {
        font-size: 16px !important;
        display: inline-block;
        margin-bottom: 5px !important;
        margin-left: 20px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-bottom: 5px !important;

        .ready {
          color: greenyellow;
        }
      }

      .active-applicants {
        display: inline-block;
        font-size: 16px !important;
        margin-left: 30px !important;

        label {
          font-weight: normal !important;
        }
      }
    }

    .onDragClass td {
      border: solid 1px #0000F0 !important;
      background-color: #cccccc !important;
    }

    .selectedRow td {
      background-color: #cccccc !important;
    }

    .dragHandle {
      cursor: move;
    }

    .modified-input {
      background-color: #0012FF !important;
      color: #ffffff;
    }

    #data-sales-table {
      th.name { min-width: 220px; padding-left: 0px; padding-right: 0px; }
      th.status { min-width: 140px; padding-left: 0px; padding-right: 0px; }
      th.contact { min-width: 220px; padding-left: 0px; padding-right: 0px; }
      th.job { min-width: 220px; padding-left: 0px; padding-right: 0px; }
      th.email { min-width: 220px; padding-left: 0px; padding-right: 0px; }
      th.information { min-width: 300px; padding-left: 0px; padding-right: 0px; }
      th.phone { min-width: 120px; padding-left: 0px; padding-right: 0px; }
      th.web { min-width: 220px; padding-left: 0px; padding-right: 0px; }
      th.monogram { min-width: 70px; max-width: 70px; padding-left: 0px; padding-right: 0px; }
      th.delete { min-width: 70px;; max-width: 70px; padding-left: 0px; padding-right: 0px; }

      input, select option { text-align: center; }
      input.name { text-align: left; }
    }

    tr.marked {
      td {
        background-color: #FFFF8F;
      }
    }
    tr {
      th.name { min-width: 200px !important; }
      th.experience-year { min-width: 90px; padding-left: 0px; padding-right: 0px; }
      th.in-english { min-width: 90px; padding-left: 0px; padding-right: 0px; }
      th.ho { min-width: 50px; padding-left: 0px; padding-right: 0px; }
      th.skill { min-width: 200px; padding-left: 0px; padding-right: 0px; }
      th.company { min-width: 200px; padding-left: 0px; padding-right: 0px; }
      th.information { min-width: 300px; padding-left: 0px; padding-right: 0px; }
      th.last-contact { min-width: 140px; padding-left: 5px; padding-right: 5px; }
      th.email { min-width: 150px; padding-left: 0px; padding-right: 0px; }
      th.phone { min-width: 100px; padding-left: 0px; padding-right: 0px; }
      th.monogram { min-width: 70px; padding-left: 0px; padding-right: 0px; }
      th.linked-in { min-width: 70px; padding-left: 0px; padding-right: 0px; }
      th.cv { min-width: 70px; padding-left: 0px; padding-right: 0px; }

      select.name { width: 200px; max-width: 200px; }
      input.experience_year { min-width: 56px; max-width: 50px; }
      select.in-english { width: 110px; max-width: 110px; }
      select.ho { width: 50px; max-width: 50px; }
      select.skill { width: 180px; max-width: 180px; }
      select.company { width: 180px; max-width: 180px; }
      select.email { width: 130px; max-width: 130px; }
      select.monogram, input.monogram { width: 50px; max-width: 50px; }

      td.marker { cursor: pointer; }
    }

    .display-block { display: block; }
    .min-w-250 { min-width: 250px !important; }
    .w-100 { width: 100px !important; }
    .w-110 { width: 110px !important; }
    .w-150 { width: 150px !important; }
    .w-180 { width: 180px !important; }
    .w-200 { width: 200px !important; }
    .w-300 { width: 300px !important; }
    .w-320 { width: 320px !important; }
    .w-400 { width: 400px !important; }
    .w-500 { width: 500px !important; }

    tr.status-2,
    tr.status-3,
    tr.status-7,
    tr.status-8 {
      opacity: 0.3;
    }
  }

  .foot-toolbar {
    position: fixed;
    bottom: 0px;
    background-color: #ECF0F5;
    width: 100%;
    margin-top: 200px;
    padding: 8px 50px;
    border-top: solid 1px #000000;
    height: 53px;

    .btn-scroll-left {
      position: absolute;
      bottom: 8px;
      left: 5px;
    }

    .btn-scroll-right {
      position: fixed;
      bottom: 8px;
      right: 5px;
    }
  }
}

.applicant-management,
.sales-management,
.work-management,
.callback-management {
  .table-area {
    position: fixed;
    top: 130px;
    bottom: 3px;
    overflow-x: scroll !important;
    overflow-y: auto;
  }
}

.form-group .hint {
  font-size: 12px;
  margin-top: -16px;
  margin-bottom: 30px;
}

.alert-call-flicker {
  @keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation: flicker 3s infinite;
  background-color: #FFFF8F;
}

#vacation-area {
  .table-area {
    tr.vacation-status-1 td {
    }
    tr.vacation-status-2 td {
      color: green;
    }
    tr.vacation-status-3 td {
      color: red;
      text-decoration: line-through;
    }
  }
}

#calendar {
  /*position: absolute;*/
  margin-top: -56px;

  .vacation {
    padding: 3px 3px 3px 3px !important;
    cursor: pointer !important;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .vacation-status-1 {
    background-color: #ffffff !important;
    border: solid 1px #cccccc !important;
    .fc-event-title {
      color: #000000 !important;
    }
  }

  .vacation-status-2 {
    background-color: #cfeadb !important;
    border: solid 1px #cfeadb !important;
    .fc-event-title {
      color: green !important;
    }
  }

  .vacation-status-3 {
    background-color: #cccccc !important;
    border: solid 1px #cccccc !important;
    .fc-event-title {
      text-decoration: line-through;
      color: #000000 !important;
    }
  }
}

.paginator {
  float: right;
  margin-right: 40px;

  .total, .items_per_page, .pages, .navigator {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
  }

  .navigator a, .navigator select {
    font-size: 14px;
    display: inline-block;
  }

  .navigator {
    .btn-first, .btn-prev, .btn-next, .btn-last {
      padding: 4px 14px;
    }
    .btn-first {
      margin-right: 5px;
    }
    .btn-prev {
      margin-right: 5px;
    }
    .btn-next {
      margin-left: 5px;
    }
    .btn-last {
      margin-left: 5px;
    }
  }
}



